body {
    background: linear-gradient(to right bottom, #bb5c81, #970d3e, #970d3e, #4d1027,#0b586e,#1e8392,#047ca6,#3496b2 );
    color: #e3e3e3;
    font-size: 15px;
  }

  button:focus {
      outline: 0;
  }
   
  .mycontainer {
      max-width: 1000px;
      margin: 0 auto;
      padding: 218.5px;
      text-align: center;
  }

  .text {
    text-align: justify;
    direction:rtl;
  }
   
   
  .mywebapp {
      margin: 50px auto;
  }
   
  #textbox {
      margin: 30px 0;
  }

  textarea {
    resize: none;
 }
   
  @media (max-width: 768px) {
      .mycontainer {
          width: 85vw;
          max-width: 85vw;
      }
   
      button {
          margin-bottom: 10px;
      }
      
  }